.portada::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.8;
    background-color: #5c5656;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .buscador {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .buscador input[type="text"] {
        width: 150px;
    }

    .buscador select {
        width: 100px;
    }
}