/* Main */
main.contenedor {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: whitesmoke;
}

main h1 {
    text-align: left;
    margin: 0px;
    margin-bottom: 25px;
}

/* Buscador */
.buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 20px;
    flex-wrap: wrap;
}

.buscador form {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    flex-wrap: wrap;
}

.buscador input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background: #24243e;
    color: whitesmoke;
    position: relative;
    z-index: 1;
}

.buscador label[for="busqueda"] {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    background-color: transparent;
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.buscador input[type="text"]:focus + label[for="busqueda"],
.buscador input[type="text"]:not(:placeholder-shown) + label[for="busqueda"] {
    top: -10px;
    left: 10px;
    font-size: 0.8em;
    color: #ccc;
}

.buscador select {
    padding: 10px;
    margin: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #24243e;
    position: relative;
    z-index: 1;
}

.buscador label[for="filtro"] {
    color: #aaa;
    padding: 0 5px;
    pointer-events: none;
}

.buscador img {
    width: 24px;
    height: 24px;
}

/* Películas */
.peliculas {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.pelicula {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    padding: 0;
    cursor: pointer;
    width: 100%;
    max-width: 270px;
}

.pelicula img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.pelicula:hover {
    transform: scale(1.05);
}

.pelicula .descripcion {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    color: whitesmoke;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pelicula:hover .descripcion {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .buscador {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .buscador input[type="text"] {
        width: 150px;
    }

    .buscador select {
        width: 100px;
    }
}