body {
    margin: 0;
    background-color: #0f0c29;
    font-family: 'Spartan', sans-serif;
    color: whitesmoke;
} 

/* Estilo del logo */
.logo-cine {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: linear-gradient(to bottom, #0f0c29, #24243e, #0f0c29);
}
.logo {
    width: 100px;
    height: auto;
}

/* Línea blanca */
.header::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.8;
    background-color: rgb(92, 86, 86);
}

/* Estilo para el nav principal */
.principal {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: linear-gradient(to bottom, #0f0c29, #24243e, #0f0c29);
}
.principal ul li {
    flex: 1; /* Asegura que los íconos se distribuyan uniformemente */
    list-style: none;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.principal ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.9em;
}
.principal ul li a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}
/* Ajustes para asegurar el centrado y espaciado uniforme */
.principal ul {
    display: flex;
    width: 100%;
    max-width: 800px; /* Limita el ancho máximo para centrar mejor los íconos */
}
.principal ul li a span {
    margin-top: 5px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.principal ul li a:hover img {
    transform: scale(1.2);
}
.principal ul li a:hover span {
    opacity: 1;
    transform: translateY(0);
}

.buscador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 20px; /* Añadir espacio debajo del buscador */
    flex-wrap: wrap;
}

.buscador form {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px; /* Añadir espacio entre los elementos del formulario */
    flex-wrap: wrap;
}

.buscador input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    background: #24243e;
    color: whitesmoke;
    position: relative;
    z-index: 1;
}

.buscador label[for="busqueda"] {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    background-color: transparent; /* Fondo del label para superponerse sobre el borde */
    padding: 0 5px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.buscador input[type="text"]:focus + label[for="busqueda"],
.buscador input[type="text"]:not(:placeholder-shown) + label[for="busqueda"] {
    top: -10px;
    left: 10px;
    font-size: 0.8em;
    color: #ccc;
}

.buscador img {
    width: 24px;
    height: 24px;
}

footer.footer {
    background-color: #0f0c29; /* Mismo fondo que el resto de la página */
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #5c5656; /* Línea separadora en la parte superior */
}

.footer p {
    margin: 0;
    font-size: 0.7em;
}

@media (max-width: 768px) {
    .principal ul {
        flex-direction: column;
        gap: 10px;
    }

    .principal ul li {
        width: 100%;
        text-align: center;
    }

    .buscador {
        flex-direction: column;
        align-items: flex-start;
    }

    .buscador input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }

    .buscador form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .principal ul li a {
        font-size: 0.8em;
    }

    .principal ul li a img {
        width: 30px;
        height: 30px;
    }
}